* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-search-js {
  display: inline-block;
}

.card-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}

.data-card {
  display: block;
  height: auto;
  width: 200px;
  padding: 1em;
  box-shadow: 5px 5px 2px rgb(173, 173, 173);
}

.data-card h1.card-name {
  font-size: 150%;
}

