* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@import './components/dynamic\ form/dynamicFormStyles.scss';
@import url(./components/quick_search/quickSearchStyles.scss);